##
## Velocity Template for DisplayTOTPView view-state
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## authenticationContext - context with authentication request information
## authenticationErrorContext - context with login error state
## authenticationWarningContext - context with login warning state
## rpUIContext - the context with SP UI information from the metadata
## encoder - HTMLEncoder class
## cspDigester - Calculates base64-encoded SHA-2 hashes (call apply)
## cspNonce - Calculates secure nonces (call generateIdentifier)
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
## custom - arbitrary object injected by deployer
##
#set ($rpContext = $profileRequestContext.getSubcontext('net.shibboleth.profile.context.RelyingPartyContext'))
##
#set ($esupOtpContext = $authenticationContext.getSubcontext('fr.renater.shibboleth.idp.plugin.authn.esup.otp.context.EsupOtpContext'))
#set ($uid = $esupOtpContext.getUsername())
#set ($apiUrl = $environment.getProperty("idp.esup.otp.apiHost"))
<!DOCTYPE html>
<html>
    <head>
        <title>#springMessageText("idp.title", "Web Login Service")</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
        <link rel="stylesheet" type="text/css" href="$request.getContextPath()#springMessageText("idp.css", "/css/placeholder.css")">
        <link rel="stylesheet" type="text/css" href="${apiUrl}/public/login.css" />
        <script src="$request.getContextPath()/js/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="></script>
        <style>
        body {
            max-width: 800px;
            margin: 0 auto;
            font-family: Arial,"Helvetica Neue", Helvetica,verdana, sans-serif;
        }
        h1 {
            text-align: center;
        }
        #errors {
            color: #CF4A02;
        }
        </style>
    </head>
    <body>
        <main class="main">
            <header>
                <img class="main-logo" src="$request.getContextPath()#springMessageText("idp.logo", "/images/placeholder-logo.png")" alt="#springMessageText("idp.logo.alt-text", "logo")" />

                #set ($serviceName = $rpUIContext.serviceName)
                #if ($serviceName && !$rpContext.getRelyingPartyId().contains($serviceName))
                    <h1>#springMessageText("idp.esup.otp.title", "Multi-Factor Authentication")</h1>
                #end
            </header>

            <section>
                <form id="fm1" action="$flowExecutionUrl" method="post">
                    #parse("csrf/csrf.vm")

                    #*
                    //
                    //    SP Description & Logo (optional)
                    //    These idpui lines will display added information (if available
                    //    in the metadata) about the Service Provider (SP) that requested
                    //    authentication. These idpui lines are "active" in this example
                    //    (not commented out) - this extra SP info will be displayed.
                    //    Remove or comment out these lines to stop the display of the
                    //    added SP information.
                    //
                    *#
                    #set ($logo = $rpUIContext.getLogo())
                    #if ($logo)
                        <img class="service-logo" src= "$encoder.encodeForHTMLAttribute($logo)" alt="$encoder.encodeForHTMLAttribute($serviceName)">
                    #end
                    #set ($desc = $rpUIContext.getServiceDescription())
                    #if ($desc)
                        <p>$encoder.encodeForHTML($desc)</p>
                    #end

                    #parse("esup-otp-error.vm")

                    <input type="hidden" name="_eventId_proceed">
                </form>

                <script type="module">
                    var uid = "${uid}"
                    var userHash = "${esupOtpEncoder.getUserHash($uid)}"
                    var apiUrl = "${apiUrl}"
                    var otpManagerUrl = "${environment.getProperty("idp.esup.otp.manager.link")}"


                    import * as login_js from "${apiUrl}/public/login.js?v=1";

                    if (!login_js.getUserOtpMethods_and_displayChoices) {
                        // the login.js has no export (ie prior to migration to module). It is a fatal error:
                        alert('FATAL ERROR: you must upgrade esup-otp-api (or downgrade esup-otp-cas / esup-otp-cas-server / esup-otp-shibboleth)')
                    }

                    login_js.getUserOtpMethods_and_displayChoices({ uid, userHash, apiUrl, otpManagerUrl });

                </script>

                <ul>
                    <li><a href="#springMessageText("idp.url.password.reset", '#')">#springMessageText("idp.login.forgotPassword", "Forgot your password?")</a></li>
                    <li><a href="#springMessageText("idp.url.helpdesk", '#')">#springMessageText("idp.login.needHelp", "Need Help?")</a></li>
                </ul>
            </section>
        </main>
        <footer class="footer">
            <div class="cc">
                <p>#springMessageText("idp.footer", "Insert your footer text here.")</p>
            </div>
        </footer>
     </body>
</html>
